# Ignore node_modules because we install them inside the container
node_modules/

# Ignore log files
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore environment variables and secrets (these should be injected at runtime)
.env
serviceAccountKey.json

# Ignore git repository data
.git
.gitignore

# Ignore Docker related files
Dockerfile
.dockerignore
